body {
    height: auto;
    width: auto;
    background-image: url(images/bg-image.png)
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
    padding: 15px;
}

hr {
    height: 1px;
    background-color: rgb(84, 83, 83);
}

.main {
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

form {
    border: 2px solid black;
    padding: 2%;
    background-color: #e8e3e6;
}

.sectionDetails {
    color: rgb(225, 107, 11);
    font-size: 20px;
    font-weight: bold;
}

form input {
    margin-bottom: 15px;
}

.sectionOne {
    display: flex;
    gap: 90px;
}

.sectionTwo>*,
.sectionThree>* {
    flex-grow: 1;
}

.sectionTwo {
    display: flex;
}

.sectionThree {
    display: inline-flex;
    gap: 125px;
}

.sectionFour {
    display: flex;
    gap: 15%;
    margin-bottom: 15px;
}

.sectionFive {
    display: flex;
    gap: 2%;
}

input[name="mob2"] {
    margin-left: 10px;
    margin-right: 50px;
}

.sectionSix {
    display: flex;
}

.address,
.sameas {
    width: 35vh;
}

.sectionSix>* {
    width: 50%;
}

.father,
.mother {
    display: flex;
    gap: 15vh;
}

table,
th,
td {
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

.sectionEight input {
    margin-top: 19px;
}

th {
    font-size: 17px;
    color: rgb(13, 26, 101);
}

#addNew,
#addbank {
    background-color: rgb(112, 209, 64);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-color: rgb(112, 209, 64);
    width: 70px;
}

#delete,
#deletebank {
    background-color: rgb(235, 53, 53);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-color: rgb(235, 53, 53);
    width: 70px;
}

.deletebank {
    margin-top: -20px;
}

.sectionTen {
    display: flex;
    flex-wrap: wrap;
}

.sectionTen>* {
    width: 50%;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 50px;
}

#submit1 {
    color: #7353BA;
    font-weight: bold;
    border-color: #7353BA;
    height: 30px;
    width: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

#reset1 {
    color: rgb(235, 53, 53);
    font-weight: bold;
    border-color: rgb(235, 53, 53);
    height: 30px;
    width: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

input[type="text"]:hover,
input[type="date"]:hover,
input[type="number"]:hover,
input[type="tel"]:hover,
#email:hover {
    background-color: rgb(254, 254, 254);
}

select:hover {
    box-shadow: 1px 1px 0 #000 inset;
}

#submit1:hover {
    color: #fdfbfc;
    background-color: #7353BA;
}

#reset1:hover {
    color: #fdfbfc;
    background-color: rgb(235, 53, 53);
}

#addNew:hover {
    background-color: rgb(73, 156, 31);
    color: rgb(255, 255, 255);
}

#delete:hover {
    background-color: rgb(188, 15, 15);
    color: rgb(255, 255, 255);
}
